{% extends 'cotacao_grafico/base.html' %}
{% load static %}
{% block titulo %}Cotação Moedas{% endblock titulo %}
{% block content %}

<div class="jumbotron-fluid">
   <div class="container text-center">
      <p class="display-5 text-danger">{{context.erro|safe}}</p>
   </div>   
</div>   

   <figure class="highcharts-figure">
      <div id="container"></div>
      <p class="highcharts-description">
         Cotações na base U$D 
      </p>
   </figure>

<div class="card m-5 p-5" >
   <div class="container">
      <!--Search box form moedas e período  Início -->
      <form action="#">
         <div class="form-row">
            
            <div class="form-group col-md-4">
               <label for="start">Inicio:</label><br>
               
               <input type="date" id="inicio" name="inicio"
               value={{context.inicio|safe}}>
            </div>
            
            <div class="form-group col-md-4">
               
               <label for="start">Fim:</label><br>
               
               <input type="date" id="fim" name="fim"
               value={{context.fim|safe}}>
            </div>
            
            <div class="form-group col-md-4">
               <label for="moeda">Moeda:</label><br>
               <select name="moeda" id="moeda" class="form-control">
                        <option value="BRL">BRL</option>
                        <option value="EUR">EUR</option>
                        <option value="JPY">JPY</option>
               </select>
            </div>

            <div class=" col-md-4">
               <button type="submit" class="btn btn-primary">Selecionar</button>
            </div>
         </div>
      </form>
      <!--Search box form moedas e período  Fim-->
   </div>
</div>


<div class="container mb-5 pb-5 text-center">
   <h2>
      <a href="{% url 'apimoedas:precos' %}?inicio=2022-07-04&moeda=BRL">API para realizar leitura das cotações persistidas no banco de dados.</a>
   </h2>
</div>




   <!--{{context.precos}}
   {{context.datas}}-->

   <script src="https://code.highcharts.com/highcharts.js"></script>
   <script src="https://code.highcharts.com/modules/exporting.js"></script>
   <script src="https://code.highcharts.com/modules/export-data.js"></script>
   <script src="https://code.highcharts.com/modules/accessibility.js"></script>

   <script> 


   Highcharts.chart('container', {
   chart: {
      type: 'line'
   },
   title: {
      text: 'Cotação por Período {{context.moeda}}'
   },
   subtitle: {
      text: 'Origem dos dados do gráfico: https://api.vatcomply.com/'
   },
   xAxis: {
      categories: {{context.datas|safe}}
   },
   yAxis: {
      title: {
         text: 'Preço U$D'
      }
   },
   plotOptions: {
      line: {
         dataLabels: {
         enabled: true
         },
         enableMouseTracking: false
      }
   },
   series: [{
      name: '{{context.moeda}}',
      data:  {{context.precos}}
   }, ]
   });
   </script>

{% endblock %}
