{% extends 'cotacao_grafico/base.html' %}
{% load static %}
{% block titulo %}Cotação Moedas{% endblock titulo %}
{% block content %}



   <div class="container">
      <h1 class="text-center m-5 p-2">Cotação de Moedas</h1>
   </div>

   <figure class="highcharts-figure">
      <div id="container"></div>
      <p class="highcharts-description">
         Cotações na base U$D 
      </p>
   </figure>
   <!--{{context.precos}}
   {{context.datas}}-->

   <script src="https://code.highcharts.com/highcharts.js"></script>
   <script src="https://code.highcharts.com/modules/exporting.js"></script>
   <script src="https://code.highcharts.com/modules/export-data.js"></script>
   <script src="https://code.highcharts.com/modules/accessibility.js"></script>

   <script> 


   Highcharts.chart('container', {
   chart: {
      type: 'line'
   },
   title: {
      text: 'Cotação por Período {{context.moeda}}'
   },
   subtitle: {
      text: 'Origem dos dados do gráfico: https://api.vatcomply.com/'
   },
   xAxis: {
      categories: {{context.datas|safe}}
   },
   yAxis: {
      title: {
         text: 'Preço U$D'
      }
   },
   plotOptions: {
      line: {
         dataLabels: {
         enabled: true
         },
         enableMouseTracking: false
      }
   },
   series: [{
      name: '{{context.moeda}}',
      data:  {{context.precos}}
   }, ]
   });
   </script>

{% endblock %}
